# fly.toml app configuration file generated for delivery-tracker-v2-dymg5q on 2025-12-28T05:48:50Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'delivery-tracker-v2-dymg5q'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  FLASK_APP = "app:app"           # adjust if your module name isn't app.py
  DATABASE  = "/data/database.db"
  SCHEMA    = "/code/schema.sql"

[[mounts]]
  source = "data"
  destination = "/data"
